{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RimaVerso</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <a href="{% url 'index' %}">
        <h1>Página inicial</h1>
    </a>
    <div class="formulario">

        <form action="{% url 'buscar' %}">
            <input type="text" name="buscar" placeholder="Pesquisar rimas..." autofocus="autofocus">
            <input type="submit">
        </form>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>